.root{
    width: 100%;
    position: relative;
    padding-top: 56.25%;
}
.landscape{
    padding-top: 56.25%;
}
.portrait{
    padding-top: 120%;
}
.square{
    padding-top: 100%;
}
img.image{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    object-fit: cover;
}